@charset "UTF-8";

body{
    background-color: rgb(224, 128, 128)  
    
}
h1{
    color: darkslategrey;

}
h1#principal{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
}

h2{

    color:rgb(17, 38, 99)
}
.basico{
    color: blue;

}
.intermediario{

    color: darkgreen;
}
.avançado{
    color: black;
}
.destaque{
background-color: blanchedalmond;
}